In [41]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Aim

## Imports
Main imports

In [42]:
import matplotlib.pyplot as plt 
import pandas as pd
import numpy as np
from pathlib import Path
import sys

Package imports

In [43]:
sys.path.append(r"C:\Users\SachaGobeyn\GitHub\rfactor")
from rfactor.src.flanders.data_processing import (load_input_data,
                                                  reformat_resolution,
                                                  compute_statistics_inputdata,
                                                  get_files_rfactor_script,
                                                  load_cumulative_erosivity,
                                                  load_data_completeness_file,
                                                  ErosivityData,
                                                 load_R)

Load completeness per station
Compute completeness for every station for every year
1. Remove each set (year, station) if no data are reported for December or Januari (value: -1)
2. Compute the number of non-NA-values on the non-zero data series (%) (value in [0,1])

__NOTE__: These values are computed based on the original rainfall timeseries of KMI and VMM

In [57]:
fmap_rainfall=  Path(r"C:\Users\SachaGobeyn\Dropbox (Fluves)\FLUVES\PROJECTS\FL_P_2020_DepO_CNWSMod_1\07_results\2019_rfactor\data\v0_rain_data_set_20201201")
fmap_erosivity = Path(r"C:\Users\SachaGobeyn\GitHub\rfactor\rfactor\src\rfactor\results")
path_data_flanders = Path("..","..","src","flanders","data")
txt_files= path_data_flanders / "datafiles_completeness.csv"

[autoreload of rfactor.src.flanders.data_processing failed: Traceback (most recent call last):
  File "C:\Users\SachaGobeyn\miniconda3\envs\cnws\lib\site-packages\IPython\extensions\autoreload.py", line 245, in check
    superreload(m, reload, self.old_objects)
  File "C:\Users\SachaGobeyn\miniconda3\envs\cnws\lib\site-packages\IPython\extensions\autoreload.py", line 410, in superreload
    update_generic(old_obj, new_obj)
  File "C:\Users\SachaGobeyn\miniconda3\envs\cnws\lib\site-packages\IPython\extensions\autoreload.py", line 347, in update_generic
    update(a, b)
  File "C:\Users\SachaGobeyn\miniconda3\envs\cnws\lib\site-packages\IPython\extensions\autoreload.py", line 292, in update_class
    if (old_obj == new_obj) is True:
  File "C:\Users\SachaGobeyn\miniconda3\envs\cnws\lib\site-packages\pandas\core\generic.py", line 1442, in __nonzero__
    f"The truth value of a {type(self).__name__} is ambiguous. "
ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().
]

In [58]:
data = ErosivityData(fmap_rainfall,fmap_erosivity)

In [59]:
df_files = data.build_data_set(txt_files)

In [60]:
data.load_data(df_files)

100%|██████████████████████████████████████████████████████████████████████████████████| 56/56 [00:19<00:00,  2.90it/s]

In [40]:
df_files.to_csv("overview_files_stations.csv")

## Ukkel

In [61]:
timeseries = [range(1898,2003,1),
              range(2003,2020,1),
              range(1898,2020,1),
              range(1996,2020,1),
              range(1990,2020,1),
              range(1990,2001,1),
              range(2000,2020,1)]
for i in timeseries:
    print(i)
    df_R=data.load_R(["KMI_6447","KMI_FS3"], i)
    print(np.mean(df_R["value"]))

range(1898, 2003)
958.1058095238096
range(2003, 2020)
1313.013125
range(1898, 2020)
1005.0357024793389
range(1996, 2020)
1260.6330434782608
range(1990, 2020)
1244.8975862068964
range(1990, 2001)
1094.6436363636365
range(2000, 2020)
1302.7794736842104

In [62]:
len(data.stations)

56

## Flanders and Belgium
**All stations expect Ukkel**

In [63]:
stations_belgium_excl_ukkel = [station for station in data.stations if station not in ["KMI_6447","KMI_FS3"]]
df_R=data.load_R(stations_belgium_excl_ukkel, i)
print(np.mean(df_R["value"]))
len(stations_belgium_excl_ukkel)

1263.2720860927154

54

**All stations except Ukkel and Wallonia**

In [67]:
stations_flanders_excl_ukkel = [station for station in data.stations if station not in  ["KMI_6447","KMI_FS3","KMI_6455","KMI_6459","KMI_6472","KMI_6494","KMI_6484"]]
df_R=data.load_R(stations_flanders_excl_ukkel, i)
print(np.mean(df_R["value"]))
len(stations_flanders_excl_ukkel)

1235.2283858267717

49

## EXTRA

In [65]:
df_stations_KMI= pd.read_csv(path_data_flanders / "geoinfo_KMI.csv", delimiter=";")
df_stations_VMM = pd.read_csv(path_data_flanders / "geoinfo_VMM.csv", delimiter=",")
df_stations = df_stations_KMI.append(df_stations_VMM)

In [66]:
df_stations

          station               locatie         x         y  Unnamed: 0
0        KMI_6472                Humain  213458.0   98067.0         NaN
1        KMI_6484               Buzenol  238183.0   34949.0         NaN
2        KMI_6447                 Ukkel  149377.0  165077.0         NaN
3        KMI_6455               Dourbes  166282.0   87083.0         NaN
4        KMI_6439  Sint-Katelijne-Waver  161253.0  195183.0         NaN
5        KMI_6414                Beitem   62433.0  177770.0         NaN
6        KMI_6464                 Retie  196134.0  212533.0         NaN
7        KMI_6494              MontRigi  271048.0  134673.0         NaN
8        KMI_6418             Zeebrugge   68311.0  227035.0         NaN
9        KMI_6477            Diepenbeek  226166.0  178859.0         NaN
10       KMI_6434                 Melle  111863.0  185117.0         NaN
11       KMI_6431               Zelzate  110942.0  207931.0         NaN
12        KMI_FS3                 Ukkel  149377.0  165077.0         NaN
13       KMI_6459                Ernage  172864.0  141211.0         NaN
14  KMI2003_nu_v2                 Ukkel  149377.0  165077.0         NaN
15   KMI1990_2002                 Ukkel  149377.0  165077.0         NaN
0         P01_003                Zarren   51907.0  191193.0         0.0
1         P01_010                 Ieper   45836.0  171260.0         1.0
2         P01_015            Sint-Joris   37391.0  203053.0         2.0
3         P01_029              De Panne   25566.0  198775.0         3.0
4         P01_037             Poperinge   30383.0  169639.0         4.0
5         P02_004              Oostkamp   71934.0  203046.0         5.0
6         P02_008            Klemskerke   54903.0  213712.0         6.0
7         P02_030               Dudzele   73428.0  219889.0         7.0
8         P03_041              Ertvelde  107553.0  206313.0         8.0
9         P03_017             Boekhoute  102378.0  217610.0         9.0
10        P03_036               Stekene  126793.0  209790.0        10.0
11        P03_005           Vinderhoute  100117.0  197676.0        11.0
12        P04_027               Wilrijk  150532.0  204061.0        12.0
13        P04_001               Melsele  142966.0  214911.0        13.0
14        P04_020              Massemen  115584.0  185349.0        14.0
15        P05_038                Geluwe   59622.0  167497.0        15.0
16        P05_019               Waregem   82616.0  172798.0        16.0
17        P05_039             Roeselare   65867.0  181510.0        17.0
18        P06_040                Zingem   99800.0  177500.0        18.0
19        P06_014         Maarke-Kerkem  100828.0  167846.0        19.0
20        P07_022           Denderbelle  130619.0  188456.0        20.0
21        P07_006            Liedekerke  130730.0  175177.0        21.0
22        P07_021              Moerbeke  116794.0  159224.0        22.0
23        P08_028             Rotselaar  173437.0  181832.0        23.0
24        P08_013         Korbeek-Dijle  169338.0  169563.0        24.0
25        P08_031              Heverlee  170944.0  174177.0        25.0
26        P08_033              Nossegem  159180.0  174735.0        26.0
27        P08_018             Bonheiden  159936.0  191383.0        27.0
28        P08_009      St-Pieters-Leeuw  144952.0  166549.0        28.0
29        P08_023               Lembeek  139389.0  155330.0        29.0
30        P09_025             Houthalen  219082.0  189904.0        30.0
31        P09_026              Runkelen  205040.0  172223.0        31.0
32        P09_016                Lummen  205866.0  184545.0        32.0
33        P09_012  Niel-bij-St.-Truiden  204600.0  158877.0        33.0
34        P09_034           Tessenderlo  202728.0  193815.0        34.0
35        P09_032                Tienen  192311.0  166377.0        35.0
36        P09_035               Beverst  226491.0  177335.0        36.0
37        P10_011             Herentals  183363.0  205910.0        37.0
38        P10_042             Vosselaar  187754.0  220718.0        38.0
39        P11_007              Loenhout  173416.0  230970.0        39.0
40        P11_002              Overpelt  224843.0  210857.0        40.0
41        P11_024                 Kanne  242038.0  167382.0        41.0
42        P11_043           Neeroeteren  242149.0  197668.0        42.0

**Compute statistics**  
Compute general statistics with .describe() functions,  and couple x and y's. Only

In [9]:
resmap = "results"
compute_statistics_inputdata(dict_inputdata, resmap, df_stations)

## Compute R-factor

Run model with Matlab in terminal (navigate to *C:\Users\$USERNAME\GitHub\rfactor\rfactor\src\rfactor*, **see README.md**)
    
    matlab -nodisplay -r "main('C:\Users\\$USERNAME\GitHub\rfactor\rfactor\docs\data\example_inputdata')"

Results are saved in *C:\Users\\$USERNAME\GitHub\rfactor\rfactor\src\rfactor*

In [10]:
fmap = Path(r"C:\Users\SachaGobeyn\GitHub\rfactor\rfactor\src\rfactor\results")

In [11]:
fmap.exists()

True

## Process results

**Get files**

In [12]:
dict_output_files = get_files_rfactor_script(fmap,dict_inputdata,df_completeness)

**Create dataframes**
One dataframe for each station.  
__NOTE__: Results from incomplete datasets (<0.95 coverage) are not loaded as these have not been computed!

In [13]:
dict_df_output = load_cumulative_erosivity(dict_output_files)

**Generate table output**

In [43]:
columns = ["station","year","value","Flanders","Belgium"]
df_R_yearly =  pd.DataFrame(data=np.zeros([data.nr_files,len(columns)]),columns=columns)
resmap="results"
ind = 0

for station in dict_erosivity:
    
    for year in dict_erosivity[station]:
        value = dict_erosivity[station][year]["cumEI30"].iloc[-1]
        if station in ["KMI_6447","KMI_FS3"]:
            Belgium = 0
            Flanders = 0
            Ukkel = 1
        elif station in ["KMI_6455","KMI_6459","KMI_6472","KMI_6494"]:
            Flanders = 0
            Belgium = 1
            Ukkel = 0
        else:
            Belgium = 1
            Flanders = 1
            Ukkel = 0
        df_R_yearly.loc[ind, ["station","year","value","Ukkel","Flanders","Belgium"]] = [station, year, value, Ukkel, Flanders, Belgium]        
        
        ind += 1
        
df_R_yearly.to_csv(Path(resmap) / "Ryearly_allstations_filtereddata.csv")

## Analysis

**Values for Flanders and Belgium**  
Average value for Flanders (excl. Ukkel)

In [44]:
np.mean(df_R_yearly.loc[df_R_yearly["Flanders"]==1,"value"])

1245.863062015504

Average value for Belgium (excl. Ukkel)

In [45]:
np.mean(df_R_yearly.loc[df_R_yearly["Belgium"]==1,"value"])

1267.2824242424242

**Ukkel: long term**   
Two timeseries: 
 - KMI_FS from 1989 to 2002  
 - KMI_6447 from 2003 to 2017

In [46]:
dict_df_output_hm["Ukkel_samen"] = pd.concat([dict_erosivity["KMI_FS3"],dict_erosivity["KMI_6447"]], axis=1)
dict_df_output_hm["Ukkel_samen"].to_csv(Path(resmap) / "Ryearly_Ukkel_filtereddata.csv")

NameError: name 'dict_df_output_hm' is not defined

Compute different values for Ukkel, for different time periods

In [19]:
a= [[1898,2002],
    [1898,2019],
    [2003,2019],
    [1996,2019],
    [1990,2019],
    [1990,2000],
    [2000,2019]]
pres = {}
for j in a:
    col = np.arange(j[0],j[1]+1,1)
    col = [i for i in col if i in dict_df_output_hm["Ukkel_samen"].columns]
    col_fill_nan = [i for i in col if i not in dict_df_output_hm["Ukkel_samen"].columns]
    for i in col_fill_nan:
        dict_df_output_hm["Ukkel_samen"][i] = np.nan
    pres[str(j)] = {"mean":np.nanmean(dict_df_output_hm["Ukkel_samen"][col].iloc[-1]),"median":np.nanmedian(dict_df_output_hm["Ukkel_samen"][col].iloc[-1])}
df_summary = pd.DataFrame.from_dict(pres).T

In [20]:
df_summary

                     mean   median
[1898, 2002]   958.105810   927.27
[1898, 2019]  1005.035702   941.02
[2003, 2019]  1313.013125  1094.68
[1996, 2019]  1260.633043  1095.00
[1990, 2019]  1244.897586  1095.00
[1990, 2000]  1094.643636  1073.07
[2000, 2019]  1302.779474  1146.81

Figure

In [ ]:
out = dict_df_output_hm["Ukkel_samen"]
plt.figure(figsize=[12,7.5])
col = np.arange(1898,2003,1)
col = [i for i in col if i in dict_df_output_hm["Ukkel_samen"].columns]
plt.plot(col,out[col].iloc[-1],label="KMI_FS3 (1898-2002)")
col = np.arange(2002,2019,1)
col = [i for i in col if i in dict_df_output_hm["Ukkel_samen"].columns]
plt.plot(col,out[col].iloc[-1],label="KMI_6447 (2003-2019)")

# rolling mean
y = out.iloc[-1].rolling(10).mean()
x = y.index
plt.plot(x,y,ls=':',lw=3,label='voortschrijdend gemiddelde (10 jaar)')
y = out.iloc[-1].rolling(20).mean()
x = y.index
plt.plot(x,y,ls='--',lw=3,label='voortschrijdend gemiddelde (20 jaar)')
y = out.iloc[-1].rolling(30).mean()
x = y.index
plt.plot(x,y,ls='-.',lw=3,label='voortschrijdend gemiddelde (30 jaar)')
plt.ylim([0,3500])
plt.xlim([1890,2020])
plt.tick_params(axis='both', which='major', labelsize=14)
plt.xlabel(r'Jaar (-)',fontsize=16)
plt.ylabel(r'Jaarlijkse R [MJ mm ha$^{-1}$ h$^{-1}$ jaar$^{-1}$]',fontsize=16)
plt.legend(prop={'size':16})

Compare results of Ukkel with other average of other stations

In [ ]:
coldf = ["station","rc","offset","afstand","p","r_value","n","dR","meanR"]
out = pd.DataFrame(data = np.zeros([len(dict_df_output_hm)-3,len(coldf)]),columns=coldf)
ind = 0

for i in dict_df_output_hm.keys():
    
    if (i!="Ukkel_samen") & (i!="KMI_FS3") & (i!="KMI_6447"):
        col = dict_df_output_hm["Ukkel_samen"].columns
        col_fill_nan = [j for j in col if j not in dict_df_output_hm[i].columns]
        for j in col_fill_nan:
            dict_df_output_hm[i][j] = np.nan
        y = dict_df_output_hm[i][col].iloc[-1]
        x = dict_df_output_hm["Ukkel_samen"][col].iloc[-1]
        x = x[~np.isnan(y)]        
        y = y[~np.isnan(y)]
        df_i = pd.DataFrame()
        df_i[i] = x.values.flatten()
        df_i["Ukkel (KMI_FS3 & KMI_6447)"] = y.values.flatten()
        df_i = df_i.sort_values("Ukkel (KMI_FS3 & KMI_6447)")
        
        out["dR"].loc[ind] = np.mean(dict_df_output_hm[i].iloc[-1])-np.mean(dict_df_output_hm["Ukkel_samen"].iloc[-1])
        out["meanR"].loc[ind] = np.mean(dict_df_output_hm[i].iloc[-1])
        ind += 1

out.to_csv(Path(resmap) / "stat_allstations_res.csv")